.firstPage{
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%,
        rgba(0, 0, 0, 0) 100%),
        url('./acces/electrician-installer-with-tool-his-hands-working-with-cable-construction-site 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}