.firstPage{
    width: 100%;
    position: relative;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%), url('./acces/electrician-installer-with-tool-his-hands-working-with-cable-construction-site 1.png');
    background-size: cover;
}