.ThirdPage {
    position: relative;
    /*height: 50vw;*/
    background: black;
    mix-blend-mode: normal;
    padding-bottom: 60px;

}

.tittle {
    margin-left: 20px;
    margin-right:  20px;
    /*width: 80vw;*/
    padding-top: 100px;
    position: relative;
}


.etapW {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 139.4%;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
}

.howWorks {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 139.4%;
    /* identical to box height, or 56px */
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 5%;
}

.etaps {
    display: flex;
    justify-content: space-around;
    position: relative;

}
.etaps >div{
    position: relative;


}

@media only screen and (max-width: 768px) {
    .etaps{
        flex-direction: column;
        padding-left: 10px;
    }
}




