.ThirdPage {
    position: relative;
    height: 50vw;
    background: black;
    mix-blend-mode: normal;
    padding-bottom: 6vw;

}

.tittle {
    margin-left: 10vw;
    margin-right:  10vw;
    width: 80vw;
    padding-top: 10%;
    position: relative;
}
@media(max-width:620px) {
    .tittle {
        margin-left: 0;
        margin-right:  0;
        width: 80vw;
        padding-top: 10%;
        position: relative;
    }
}

.etapW {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 139.4%;
    /* identical to box height, or 25px */
    letter-spacing: 9.7px;
    text-transform: uppercase;

    color: #FF9900;


}

.howWorks {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 139.4%;
    /* identical to box height, or 56px */
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 5%;
}

.etaps {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*height: 120%;*/
    /*border: solid aquamarine 1px;*/
    /*width: 100vw;*/
    position: relative;

}
.etaps >div{
    /*border: solid green 1px;*/
    position: relative;
    width: 10vw;


}
.linea{
    border-top: #FFFFFF solid 1px;
    /*margin-top: -100px;*/
    /*position: absolute;*/
    margin-top: -60px;
    width: 70vw;
    margin-left: 5vw;
}

