.header{
    padding: 5px 10px 0 10px;
    display: flex;
    position: relative;
    max-width: 100%;
    /*height: 54px;*/
    background: rgba(0, 0, 0, 0.31);
    justify-content: end;
}
.numbers{
    display: flex;
}
.firstNumber , .secondNumber{
    font-family: Gilroy;
    color: #FFFFFF;
    size: 0.5rem;
}
.firstNumber{
    margin-right: 30px;

}
.secondNumber{
    margin-right: 30px;
}


.icons{
    cursor: pointer;
    white-space: nowrap
}
.fb{
    background-color: transparent;
    margin: 5px;

}
.inst{
    background-color: transparent;
    margin: 5px;

}
.In{
    background-color: transparent;
    margin: 5px;

}
@media (max-width: 480px) {
    .numbers{
        flex-direction: column;

    }
}