.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);


}
.footer >div{
    position: relative;

}

.footer >div >img{
    position: absolute;
    /*right: 20%;*/
    /*top: 10%;*/
    margin-left: 40%;
    /*margin-top: 25%;*/
    width: 60%;

    /*height: 50%;*/
}

.footer >div >span{
    display: block;
    position: absolute;
    width: 60%;
    /*left: 50%;*/

    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 25%;
    margin-top: 10%;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    /*line-height: 139.4%;*/
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
