.navBarPage{
    display: grid;
    grid-template-columns: 25% 50% 25% ;
        /*border: solid red 4px;*/
    position: relative;
    align-items: center;
}

.navBar{
    display: flex;
    /*grid-template-columns: repeat(5,1fr);*/
    flex-direction: row;
    justify-content: space-between;

}

    .navBar >a{
    display: block;
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 80px;
    /* identical to box height, or 444% */
    letter-spacing: 0.07em;
    color: #FF9900;
    display: block;
    text-decoration: none;
    text-wrap: none;
    overflow: visible;
    white-space: nowrap;
        cursor: pointer;

}
.logo{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 80px;
    /* identical to box height, or 333% */
    letter-spacing: 0.07em;
    color: #FF9900;
    justify-self: center;



}
.rightLogo{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    /*font-size: 3gd;*/
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FF9900;
    justify-self: center;
    cursor: pointer;

}

@media(max-width:620px) {
    .navBarPage{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: 100%;
    }


    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    }

    /*.navBar >a{*/
    /*    display: block;*/
    /*    text-decoration: none;*/
    /*    font-family: Gilroy;*/
    /*    font-style: normal;*/
    /*    font-weight: normal;*/
    /*    font-size: 2vh;*/
    /*    !*line-height: 80px;*!*/
    /*    !* identical to box height, or 444% *!*/
    /*    letter-spacing: 0.07em;*/
    /*    color: #FF9900;*/
    /*    display: block;*/
    /*    text-decoration: none;*/
    /*    border: green 1px solid;*/
    /*    text-wrap: none;*/
    /*    overflow: visible;*/
    /*    white-space: nowrap;*/

    /*}*/
    /*.logo{*/
    /*    font-family: Gilroy;*/
    /*    font-style: normal;*/
    /*    font-weight: 900;*/
    /*    font-size: 2vh;*/
    /*    !*line-height: 80px;*!*/
    /*    !* identical to box height, or 333% *!*/
    /*    letter-spacing: 0.07em;*/
    /*    color: #FF9900;*/
    /*    justify-self: center;*/



    /*}*/
    /*.rightLogo{*/
    /*    font-family: Gilroy;*/
    /*    font-style: normal;*/
    /*    font-weight: bold;*/
    /*    !*font-size: 16px;*!*/
    /*    !*line-height: 19px;*!*/
    /*    !*display: flex;*!*/
    /*    !*align-items: center;*!*/
    /*    !*text-align: center;*!*/
    /*    letter-spacing: -0.015em;*/
    /*    color: #FF9900;*/
    /*    justify-self: center;*/

    /*}*/

}
