.secondPage{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%
}
.left{
    position: relative;
    object-fit: contain;
    overflow: hidden;
}
.leftImg{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.advert{
    position: absolute;
    background-color: #ffb800;
    z-index: 2;
    right: 0;
    bottom: 0;
    mix-blend-mode: normal;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
}
.advert >span >span{
    font-size: 4vw;
}
.advert> span{
    font-size: 4vw;
}
.right{
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}
.abouteUs{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 139.4%;
    /* identical to box height, or 25px */
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
}
.whoWe{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 139.4%;
    /* identical to box height, or 56px */
    letter-spacing: 0.2px;
    color: #000000;

}
.contentContainer{
    /*margin: 220px 0;*/
    /*background-color: red;*/
    height: 100%;
    display: flex;
    align-items: center;
}
.content{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #7C7C7C;

}


@media (max-width: 980px) {

    .content{
        font-size: 23px;
    }
}
@media (max-width: 768px) {
    .whoWe{
        font-size: 28px;
    }
    .secondPage{

        grid-template-columns: 0 100%
    }
    .content{
        font-size: 20px;
    }
}
@media (max-width: 590px) {
    .abouteUs{
        font-size: 17px;

    }
}
@media (max-width: 480px) {
    .content{
        font-size: 17px;
    }
}
@media (max-width: 425px) {  }







