.Seven {
    width: 100%;
    background-color: black;
    position: relative;
}

.main {
    width: 80%;
    margin-left: 20px;
    display: flex;
    position: relative;
}

.firstTable {
    position: relative;

}


.secondTable, .thidtTable {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5vw;
    margin-left: 20%;
}

.secondTable > div, .thidtTable > div, .description, .Logo {
    color: white;
    margin: 2%;
    font-size: 25px;
    cursor: pointer;
}

.Logo {
    font-size: 35px;
    color: #ff9900;
}

.thidtTable {
    align-items: end;
    position: relative;
    width: 100%;
}

.thidtTable > div {
}

.fotos {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 20px;
    position: absolute;
    top: 5vw;
    right: 40px;
}

.fotos > a > img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {



    .secondTable, .thidtTable {

    }

    .secondTable > div, .thidtTable > div, .description, .Logo {
        font-size: 20px;
    }
    .Logo{
        font-size: 25px;
    }

}

@media (max-width: 590px) {
    .main {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    .firstTable{
     width: 80%;
        text-align: center;
    }
    .secondTable > div, .thidtTable > div, .description, .Logo {
        font-size: 16px;
        margin: 2px;
    }
    .secondTable{
        text-align: center;
        margin: 0;
        line-height: 50px;
    }
    .thidtTable{
        margin: 0;
        align-items: center;
        position: relative;
        bottom: 0;
    }
    .Logo{
        font-size: 25px;
    }

}
