.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle{

    fill: transparent;
    color: #ffb800;
    transform: rotate(-90deg);
    position: absolute;
}
.text{
    color: #FFFFFF;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: Playfair Display;
    color: #FFFFFF;

}
.description {
    display: flex;
    max-width: 180px;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    font-size: 17px;
    margin-top: 15px;
}



@media only screen and (max-width: 768px) {
    .Page{
        flex-direction: row;
    }
    .item{
        margin: 10px;
    }
    .description{
        padding: 10px;
    }
}









