
.container {
    display: flex;
    flex-direction: column;
    width: min(200px, calc(100% - 20px));
    margin: 20px;
}

.tittle {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    .container {
        width: min(120px, calc(100% - 20px));
    }

}

