.allPages{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 980px) {  }
@media (max-width: 768px) {  }
@media (max-width: 590px) {  }
@media (max-width: 480px) {  }
@media (max-width: 425px) {  }
